#about{
    margin:70px 0px;
    height: 600px;
    background: linear-gradient(to bottom, $Green,$LightGreen);
    .image-contain{
        position:relative;
        img{
            position: absolute;
            top: -68px;
            left: $mainWidth/2;
        }
        i{
            font-size: 20px;
            position: absolute;
            top: -35px;
            left: 670px;
            color: white;
            transition: all .5s ease;
            &:hover{
                cursor: pointer;
                top: -30px;
            }
        }
    }
    h1{
        position: relative;
        top: 40px;
        font-family: $mainFont;
        font-size: 2.5em;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
    .container{
        .about-item{
            position: relative;
            @extend .inline-block;
            width: $mainWidth/3;
            float:left;
            padding: 10px 0px;
            .about-icon{
                position: absolute;
                top: 50px;
                left:70px;
                img{
                    border-radius: 50%;
                }
            }
            h3{
                position: relative;
                top: 300px;
                padding: 20px;
                font-family: $mainFont;
                font-size: 1.2em;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 1px;
                color:white;
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                    transition: all .4 ease;
                    color: rgb(66,70,79);
                }
            }
            p{
                position: relative;
                padding: 0px 20px;
                top: 280px;
                font-family: $mainFont;
                font-size: .8em;
                text-align: center;
                letter-spacing: 1px;
                line-height: 20px;
                color:white;
            }
        }
    }
}